@use '../../partials/mixins' as *;

.header {
    display: flex;
    justify-content: center;
    width: 100%;
}

.header-btns {
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: fit-content;
    position: absolute;
    right: 10px;
}

img {
    @media (min-width: 300px) { 
        width: 280px; 
        margin-bottom: 20px;
    }

    @media (min-width: 768px) { 
        width: 600px; 
        margin-bottom: 50px;
    }

    @media (min-width: 1280px) { width: 894px; }
}

.butt-header {
    @include btn;
    margin: 5px 10px;
}