@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.header {
    display: flex;
    justify-content: center;

    @include mobile { 
        flex-direction: column; 
        align-items: center;
    }
}

.header-btns {
    width: 280px;
    display: flex;
    justify-content: center;

    @include tablet { 
        width: fit-content;
        flex-direction: column;
    }

    @include laptop { 
        flex-direction: row;
        width: 310px;
    }

    @include desktop { 
        width: 370px;
    }
}

img {
    @include mobile { 
        width: 280px; 
        margin-bottom: 20px;
    }

    @include tablet { 
        width: 600px; 
        margin-bottom: 50px;
    }

    @media (min-width: 1700px) { width: 894px; }
}

.side-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin: 0;
    width: 280px;
    padding: 0;

    @include tablet { 
        width: fit-content;
        right: calc(50% - 380px);
        flex-direction: column;
    }

    @include laptop { 
        width: 310px;
        top: 40px;
        right: 25px;
    }

    @include desktop { 
        width: 370px;
        top: 90px;
        right: 30px; 
    }
}

.profile-box {
    background-color: $black;
    width: 98%;
    padding: 5px;
    border-radius: 3px;
}

.dashboard {
    @include laptop {
        border: 2px solid $lightBlue;
        border-radius: 5px;
    }

    background-color: $darkBlue;
}

.butt-header {
    @include btn;
    width: 130px;
    @include tablet { width: 60px; }
    @include laptop { width: 150px; }
    @include desktop { width: 174px; }
    padding: 5px;
    margin: 5px 10px;
}