@use '../../partials/mixins' as *;

.header {
    display: flex;
    justify-content: center;

    @include mobile { 
        flex-direction: column; 
        align-items: center;
    }
}

.header-btns {
    width: 369px;
    display: flex;
    justify-content: center;

    @include tablet { 
        width: fit-content;
        position: absolute;
        right: calc(50% - 380px);
        flex-direction: column;
    }

    @include laptop { 
        flex-direction: row;
        right: calc(50% - 650px);
    }

    @include desktop { right: 20px; }
}

img {
    @include mobile { 
        width: 280px; 
        margin-bottom: 20px;
    }

    @include tablet { 
        width: 600px; 
        margin-bottom: 50px;
    }

    @media (min-width: 1700px) { width: 894px; }
}

.butt-header {
    @include btn;
    width: 130px;
    @include tablet { width: 60px; }
    @include laptop { width: 150px; }
    @include desktop { width: 174px; }
    padding: 5px;
    // @include laptop { width: auto; }
    margin: 5px 10px;
}