@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.form {
    background-color: $darkBlue;
    width: 240px;
    &--signin { padding: 20px; }
    &--signup { padding: 5px 20px; }
    position: absolute; 
    top: 85px;
    right: calc(50% - 140px);

    @include tablet {
        top: 160px;
        right: 0;
        width: 441px;
        padding: 5px 75px;
    }

    @include laptop {
        position: relative;
        top: 0;
        width: 290px;
        padding: 5px;
        margin: auto;
    }

    @include desktop { 
        width: 350px; 
    }
}

.none { display: none; }
.block { display: block; }

h3 {
    margin: 5px;
    text-align: center;
    width: 100%;
}

@mixin input {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;

    @include mobile { flex-direction: column; }
    @include tablet { margin-bottom: 30px; }

    @include laptop { 
        flex-direction: column; 
        margin-bottom: 30px;
    }

    @include desktop { flex-direction: row; }
}

.input-field {        
    &--signup { 
        @include input;

        @include mobile {
            @include input;
            margin-bottom: 15px; 
        }
    }

    &--signin { 
        @include input;

        @include mobile {
            @include input;
            margin-bottom: 30px; 
        }
    }

    &__container {
        position: relative;
        display: block;
    }

    &__error {
        position: absolute;
        left: 0;
        top: 24px;
        font-size: small;
        color: red;
    }
}

.butt {
    width: 100%; 
    padding: 5px;
}

.signin { margin: 20px 0; }