body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.base-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./assets/img/16th-note.png');
    background-repeat: repeat;
    width: 100vw;
    height: 100vh;
    padding: 1.25rem 0;
}