@use '../../partials/_variables' as *;
@use '../../partials/_fonts' as *;
@use '../../partials/_mixins' as *;

@mixin results {
    @include content-box;
    align-items: center;
    width: 414px;
    height: 500px;
    border-radius: 10px;
}

.results {
    &-page {
        display: flex;
        justify-content: space-between;
        width: 894px;
    }

    &-side {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-box {
        @include results;
        background-color: $darkBlue;
        overflow-y: scroll;
    }
}

.options-box {
    @include results;
    justify-content: center;
    background-color: $black;
}